
        /* Set fill and line colors for certification boxes. dk suffix means "dark" for the line color. */
        :root {
                --green: #70AD47;
                --greendk: #548235;
                --teal: #008080;
                --tealdk: #003F3E;
                --orange: #fa8e36;
                --orangedk: #c06216;
                --orangelt: #fdeada;
                --yellow: #e4ac03;
                --yellowdk: #7F6000;
                --black: #2a2a2a;
                --blackdk: #000000; 
                --blacklt: #d9d9d9;
                --purple: #683e9b;
                --purpledk: #352647;
                --purplelt: #eddbff;
                --skyblue: #6bb3f6;
                --skybluedk: #2665a0;
                --blue: #2e5688;
                --bluedk: #1f3147;
                --bluelt: #dce6f2;
                --red: #c0514d;
                --reddk: #8c3736;
                --redlt: #f2dcdb;
                --magenta: #830083;
                --magentadk: #490e49;
        }
       
        /* Style for the text at the bottom right of the chart */
        .key {
                color: #000000;
                padding: 0.2vmax;
                font-size: 1vmax;
                text-align: right;
                display: grid;
                grid-template-rows: 1.68vmax;
                grid-column-gap: 0.2vmax;
                grid-gap: 0.1vmax;
                                  padding-right: 0.8vmax;
        }
    
        /* Primary style for the chart, which is the parent container for everything else. */
        .certchart {
                background: white;
                color: #323232;
                font-weight: 300;
                margin-top: 1vmax;
                margin-left: 1vmax;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-family: "Segoe UI", "Calibri", Tahoma, "Geneva", Verdana, sans-serif;
                float: left;
        }
        
        /* Background grid for domain titles and borders */
        .certbg {
                background: #ffffff;
                justify-content: left;
                display: grid;
                position: relative;
                grid-template-columns: [silllevel] 0.8vmax [network] 7.5vmax [iam] 2.65vmax [engineer] 17.2vmax [asset] 5.1vmax [mgmt] 21.8vmax [testing] 7.5vmax [software] 2.7vmax [operations] 31.5vmax;
                grid-template-rows: [domain] 2vmax [chart] 43.7vmax;
                column-gap: 0.2vmax;
                /* row-gap: 0.2vmax; */
                white-space: pre-wrap;
                line-height: 130%;
                left: -0.7vmax;
        }
        
        /* Style for the title text of each domain */
        .domaintitle {
                font-weight: 450;
                font-size: 0.8vmax;
                text-align: center;
                align-content: bottom;
                justify-content: center;
                align-self: flex-end;
                display: flex;
                margin-bottom: 0.1vmax;
        }
        
        /* Styles for each certification domain box. This also allows for the placement of sub-domain shaded boxes. */
        .skilllevelcontainer {
                display: grid;
        }
    
        .networkcontainer {
                display: grid;
                border: 2px solid var(--green);
                border-radius: 0.25vmax;
        }
        
        .iamcontainer {
                display: grid;
                border: 2px solid var(--teal);
                border-radius: 0.25vmax;
        }
        
        .engineercontainer {
                display: grid;
                border: 2px solid var(--orange);
                border-radius: 0.25vmax;
                grid-template-columns: 2.3vmax 2.3vmax 2.2vmax 2.2vmax 2.2vmax 2.2vmax 2.2vmax;
                grid-template-rows: 1vmax auto;
                column-gap: 0.2vmax;
        }
        
        .assetcontainer {
                display: grid;
                border: 2px solid var(--yellow);
                border-radius: 0.25vmax;
        }
        
        .mgmtcontainer {
                display: grid;
                border: 2px solid var(--black);
                border-radius: 0.25vmax;
                grid-template-columns: 2.2vmax 2.2vmax 2.2vmax 2.2vmax 2.3vmax 2.2vmax 2.2vmax 2.2vmax 2.2vmax;
                grid-template-rows: 1vmax auto;
                column-gap: 0.2vmax;
        }
        
        .testingcontainer {
                display: grid;
                border: 2px solid var(--magenta);
                border-radius: 0.25vmax;
        }
        
        .softwarecontainer {
                display: grid;
                border: 2px solid var(--skyblue);
                border-radius: 0.25vmax;
        }
        
        .operationscontainer {
                display: grid;
                border: 2px solid var(--red);
                border-radius: 0.25vmax;
                grid-template-columns: 2.2vmax 2.2vmax 2.2vmax 2.3vmax 2.2vmax 2.3vmax 2.2vmax 2.2vmax 2.2vmax 2.2vmax 2.2vmax 2.2vmax 2.1vmax;
                grid-template-rows: 1vmax auto;
                column-gap: 0.2vmax;
        }
        
        /* Style for sub-domain titles. Mostly to allow for proper spanning. */
        .subtitle1 {
                font-weight: 400;
                font-size: 0.5vmax;
                text-align: center;
                align-content: bottom;
                justify-content: center;
                align-self: flex-end;
                display: flex;
        }
        
        .subtitle2 {
                font-weight: 400;
                font-size: 0.5vmax;
                text-align: center;
                align-content: bottom;
                justify-content: center;
                align-self: flex-end;
                display: flex;
                grid-column: span 2;
        }
        
        .subtitle3 {
                font-weight: 400;
                font-size: 0.5vmax;
                text-align: center;
                align-content: bottom;
                justify-content: center;
                align-self: flex-end;
                display: flex;
                grid-column: span 3;
        }
    
        .subtitle4 {
                font-weight: 400;
                font-size: 0.5vmax;
                text-align: center;
                align-content: bottom;
                justify-content: center;
                align-self: flex-end;
                display: flex;
                grid-column: span 4;
        } 
        .subtitle5 {
                font-weight: 400;
                font-size: 0.5vmax;
                text-align: center;
                align-content: bottom;
                justify-content: center;
                align-self: flex-end;
                display: flex;
                grid-column: span 5;
        }
        
        /* Style for certification boxes, separated by domain for proper coloring. Also used to indicate how many boxes to span the certs. */
        .engsubdomain1 {
                display: flex;
                background: var(--orangelt);
                column-gap: 1vmax;
        }
        
        .engsubdomain4 {
                display: flex;
                background: var(--orangelt);
                grid-column: span 4;
                column-gap: 1vmax;
                margin-left: 0.3vmax;
        }
        
        .mgmtsubdomain4 {
                display: flex;
                background: var(--blacklt);
                grid-column: span 4;
                column-gap: 1vmax;
                            margin-left: 0.3vmax;
        }
        
        .bluesubdomain2 {
                display: flex;
                background: var(--bluelt);
                grid-column: span 2;
                margin-left: 0.1vmax;
        }
        
        .redsubdomain2 {
                display: flex;
                background: var(--redlt);
                grid-column: span 2;
                column-gap: 1vmax;
        }
        
        .redsubdomain5 {
                display: flex;
                background: var(--redlt);
                grid-column: span 5;
                column-gap: 1vmax;
        }
    
        /* Foreground grid for certification squares */
        .certcontainer {
                justify-content: center;
                text-align: center;
                align-content: center;
                line-height: 120%;
                display: grid;
                position: absolute;
                font-size:0.6vmax;
                top: 3.4vmax;
                left: -0.31vmax;
                grid-template-columns: [skilllevel] 1.7vmax [network] 2.3vmax 2.3vmax 2.3vmax .4vmax [iam] 2.3vmax .4vmax [engineer] 2.3vmax 2.3vmax 2.3vmax 2.3vmax 2.3vmax 2.3vmax 2.3vmax 0.4vmax [asset] 2.3vmax 2.3vmax 0.4vmax [mgmt] 2.3vmax 2.3vmax 2.3vmax 2.3vmax 2.3vmax 2.3vmax 2.3vmax 2.3vmax 2.3vmax 0.4vmax [testing] 2.3vmax 2.3vmax 2.3vmax 0.4vmax [software] 2.3vmax 0.4vmax [ops] 2.3vmax 2.3vmax 2.3vmax 2.3vmax 2.3vmax 2.3vmax 2.3vmax 2.3vmax 2.3vmax 2.3vmax 2.3vmax 2.3vmax 2.3vmax;
                grid-template-rows: repeat(27, 1.5vmax);
                column-gap: 0.1vmax;
                row-gap: 0.1vmax;
                white-space: pre-wrap;
        }
        
        /* Skill level grid overlayed on top of .certcontainer to show
        .skilllevel {
            justify-content: center;
            text-align: center;
            align-content: center;
            line-height: 120%;
            display: grid;
            position: absolute;
            font-size:0.6vmax;
            top: 3.5vmax;
            left: 2.6vmax;
            grid-template-columns: max-content;
            grid-template-rows: 13.5vmax 22.5vmax 7.5vmax;
            column-gap: 0.1vmax;
            row-gap: 0.1vmax;
            white-space: pre-wrap;        
        } */
    
        .spacer {
                background: none;
        }
        
        .spacer5 {
                background: none;
                grid-column: span 5;
        }
        
        .spacer10 {
                background: none;
                grid-column: span 10;
        }
        
        .skilllevelitem {
                transform: rotate(270deg);
                justify-items: right;
                align-items: flex-end;
                font-weight: 600;
                font-size: 0.8vmax;
                display: grid;
        }
    
        .networkitem1 {
                background: var(--green);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--greendk);
                border-radius: 0.25vmax;
        }
        
        .networkitem2 {
                background: var(--green);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--greendk);
                border-radius: 0.25vmax;
                grid-column: span 3;
        }
        
        .iamitem1 {
                background: var(--teal);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--tealdk);
                border-radius: 0.25vmax;
        }
        
        .engineeritem1 {
                background: var(--orange);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--orangedk);
                border-radius: 0.25vmax;
        }
        
        .engineeritem2 {
                background: var(--orange);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--orangedk);
                border-radius: 0.25vmax;
                grid-column: span 3;
        }
        
        .engineeritem3 {
                background: var(--orange);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--orangedk);
                border-radius: 0.25vmax;
                grid-column: span 5;
        }
        
        .engineeritem4 {
                background: var(--orange);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--orangedk);
                border-radius: 0.25vmax;
                grid-column: span 6;
        }
        
        .assetitem1 {
                background: var(--yellow);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--yellowdk);
                border-radius: 0.25vmax;
        }
        
        .assetitem2 {
                background: var(--yellow);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--yellowdk);
                border-radius: 0.25vmax;
                grid-column: span 3;
        }
        
        .mgmtitem1 {
                background: var(--black);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--blackdk);
                border-radius: 0.25vmax;
        }
        
        .mgmtitem2 {
                background: var(--black);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--blackdk);
                border-radius: 0.25vmax;
                grid-column: span 3;
        }
        
        .mgmtitem3 {
                background: var(--black);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--blackdk);
                border-radius: 0.25vmax;
                grid-column: span 5;
        }
        
        .mgmtitem4 {
                background: var(--black);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--blackdk);
                border-radius: 0.25vmax;
                grid-column: span 6;
        }
        
        .mgmtitem5 {
                background: var(--black);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--blackdk);
                border-radius: 0.25vmax;
                grid-column: span 6;
        }
        
        .mgmtitem15 {
                background: var(--black);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--blackdk);
                border-radius: 0.25vmax;
                grid-column: span 19;
        }
        
        .mgmtitem17 {
                background: var(--black);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--blackdk);
                border-radius: 0.25vmax;
                grid-column: span 22;
        }
        
        .mgmtitem25 {
                background: var(--black);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--blackdk);
                border-radius: 0.25vmax;
                grid-column: span 32;
        }
        
        .testitem1 {
                background: var(--purple);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--purpledk);
                border-radius: 0.25vmax;
        }
        
        .testitem2 {
                background: var(--purple);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--purpledk);
                border-radius: 0.25vmax;
                grid-column: span 3;
        }
        
        .softwareitem1 {
                background: var(--skyblue);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--skybluedk);
                border-radius: 0.25vmax;
        }
        
        .softwareitem2 {
                background: var(--skyblue);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--skybluedk);
                border-radius: 0.25vmax;
                grid-column: span 3;
        }
        
        .softwareitem6 {
                background: var(--skyblue);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--skybluedk);
                border-radius: 0.25vmax;
                grid-column: span 9;
        }
        
        .blueopsitem1 {
                background: var(--blue);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--bluedk);
                border-radius: 0.25vmax;
        }
        
        .blueopsitem2 {
                background: var(--blue);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--bluedk);
                border-radius: 0.25vmax;
                grid-column: span 2;
        }
        
        .blueopsitem3 {
                background: var(--blue);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--bluedk);
                border-radius: 0.25vmax;
                grid-column: span 5;
        }
    
        .blueopsitem9 {
                background: var(--blue);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--bluedk);
                border-radius: 0.25vmax;
                grid-column: span 11;
        }
        
        .redopsitem1 {
                background: var(--red);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--reddk);
                border-radius: 0.25vmax;
        }
        
        .redopsitem2 {
                background: var(--red);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--reddk);
                border-radius: 0.25vmax;
                grid-column: span 2;
        }
        
        .redopsitem3 {
                background: var(--red);
                color: #ffffff;
                font-weight: 400;
                align-items: center;
                justify-items: center;
                text-decoration: none;
                display: grid;
                border: 0.05vmax solid var(--reddk);
                border-radius: 0.25vmax;
                grid-column: span 3;
        }
    
        /* Draft of different tooltip
        .tooltiptext {
            visibility: hidden;
            background: inherit;
            color: inherit;
            text-align: left;
            padding: 0.3vmax;
            border-radius: 0.2vmax;
            
            position:absolute;
            bottom: 97%;
            left: 50%;
            margin-left: -17.8%;
        }
        
        .mgmtitem25:hover .tooltiptext {
            visibility: visible;
        }
    
        .tooltiptext::after {
            content: " ";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        } */
        
        /* Certification tooltip hover text format */
        [tooltiptext]:before {
            position: absolute;
            content: attr(tooltiptext);
            width: max-content;
            height: max-content;
            padding: 0.4vmax;
            background: inherit;
            border: inherit;
            border-radius: 0.2vmax;
            color: inherit;
            text-align: left;
            display: none;
            font-size: 125%;
        }
        
        [tooltiptext]:hover:before {
            display: block;    
        }
        
        [tooltiptexttitle]:before {
            position: absolute;
            content: attr(tooltiptexttitle);
            width: 25vmax;
            height: max-content;
            padding: 0.4vmax;
            background: var(--black);
            border: var(--blackdk);
            border-radius: 0.2vmax;
            color: white;
            text-align: left;
            display: none;
            font-size: 100%;
            z-index: 1;
    
            top: 4.5%;
        }
        
        [tooltiptexttitle]:hover:before {
            display: block;    
        }
        
        [tooltiptexttitleleft]:before {
            position: absolute;
            content: attr(tooltiptexttitleleft);
            width: 25vmax;
            height: max-content;
            padding: 0.4vmax;
            background: var(--black);
            border: var(--blackdk);
            border-radius: 0.2vmax;
            color: white;
            text-align: left;
            display: none;
            font-size: 100%;
            z-index: 1;
    
            top: 4.5%;
            left: 0%;
        }
    
        [tooltiptexttitleleft]:hover:before {
            display: block;    
        }
    
        [tooltipleft]:before {
            position: absolute;
            content: attr(tooltipleft);
            width: max-content;
            height: max-content;
            padding: 0.4vmax;
            background: inherit;
            border: inherit;
            border-radius: 0.2vmax;
            color: inherit;
            text-align: left;
            display: none;
            font-size: 125%;
            line-height: 125%;
    
            left: 1%;
        }
    
        [tooltipleft]:hover:before {
            display: block;    
        }
    
        [tooltipright]:before {
            position: absolute;
            content: attr(tooltipright);
            width: max-content;
            height: max-content;
            padding: 0.4vmax;
            background: inherit;
            border: inherit;
            border-radius: 0.2vmax;
            color: inherit;
            text-align: left;
            display: none;
            font-size: 125%;
            line-height: 125%;
    
            right: 0%;
        }
    
        [tooltipright]:hover:before {
            display: block;    
        }
